# Selecting data for modeling

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv
Saving train.csv to train.csv

In [ ]:
import pandas as pd

df = pd.read_csv('train.csv', index_col='Id')
test_df = pd.read_csv('test.csv', index_col='Id')

In [ ]:
df.describe()

        MSSubClass  LotFrontage  ...       YrSold      SalePrice
count  1460.000000  1201.000000  ...  1460.000000    1460.000000
mean     56.897260    70.049958  ...  2007.815753  180921.195890
std      42.300571    24.284752  ...     1.328095   79442.502883
min      20.000000    21.000000  ...  2006.000000   34900.000000
25%      20.000000    59.000000  ...  2007.000000  129975.000000
50%      50.000000    69.000000  ...  2008.000000  163000.000000
75%      70.000000    80.000000  ...  2009.000000  214000.000000
max     190.000000   313.000000  ...  2010.000000  755000.000000

[8 rows x 37 columns]

In [ ]:
df.head()

    MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                    ...
1           60       RL         65.0  ...        WD        Normal    208500
2           20       RL         80.0  ...        WD        Normal    181500
3           60       RL         68.0  ...        WD        Normal    223500
4           70       RL         60.0  ...        WD       Abnorml    140000
5           60       RL         84.0  ...        WD        Normal    250000

[5 rows x 80 columns]

Warning: Total number of columns (80) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

##Handle Null/Missing Values

In [ ]:
df.isnull().sum().sort_values(ascending=False)/df.shape[0]

PoolQC         0.995205
MiscFeature    0.963014
Alley          0.937671
Fence          0.807534
FireplaceQu    0.472603
                 ...
Heating        0.000000
HeatingQC      0.000000
MSZoning       0.000000
1stFlrSF       0.000000
SalePrice      0.000000
Length: 80, dtype: float64

In [ ]:
df.isnull().sum().sort_values(ascending = False).head(30)

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
FireplaceQu      690
LotFrontage      259
GarageYrBlt       81
GarageCond        81
GarageType        81
GarageFinish      81
GarageQual        81
BsmtExposure      38
BsmtFinType2      38
BsmtCond          37
BsmtQual          37
BsmtFinType1      37
MasVnrArea         8
MasVnrType         8
Electrical         1
MSSubClass         0
Fireplaces         0
Functional         0
KitchenQual        0
KitchenAbvGr       0
BedroomAbvGr       0
HalfBath           0
FullBath           0
BsmtHalfBath       0
TotRmsAbvGrd       0
GarageCars         0
dtype: int64

In [ ]:
# drop columns with ~50% missing values
cols_to_drop = ['PoolQC', 'MiscFeature', 'Alley','Fence','FireplaceQu']

In [ ]:
df.drop(cols_to_drop, axis=1, inplace=True)
test_df.drop(cols_to_drop, axis=1, inplace=True)

In [ ]:
df.shape

(1460, 75)

In [ ]:
df.head()

    MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                    ...
1           60       RL         65.0  ...        WD        Normal    208500
2           20       RL         80.0  ...        WD        Normal    181500
3           60       RL         68.0  ...        WD        Normal    223500
4           70       RL         60.0  ...        WD       Abnorml    140000
5           60       RL         84.0  ...        WD        Normal    250000

[5 rows x 75 columns]

##Assign variables

In [ ]:
y = df.SalePrice
X = df.drop('SalePrice', axis=1)
X_test = test_df

##Generate quick baseline model

In [ ]:
# List of categorical variables from data description text file
object_cols = ['MSSubClass','MSZoning','Street','LotShape','LandContour','Utilities',
               'LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType',
               'HouseStyle','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType',
               'ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure',
               'BsmtFinType1','BsmtFinType2','Heating','HeatingQC','CentralAir','Electrical',
               'KitchenQual','Functional','GarageType','GarageFinish','GarageQual',
               'GarageCond','PavedDrive','MoSold','YrSold',
               'SaleType','SaleCondition']

print("Categorical variables:")
print(object_cols)

Categorical variables:
['MSSubClass', 'MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'MoSold', 'YrSold', 'SaleType', 'SaleCondition']

In [ ]:
y_baseline = df.SalePrice
X_num_baseline = df.drop('SalePrice', axis=1)

In [ ]:
# Drop non-numerical categorical variables
X_num_baseline.drop(object_cols, axis=1, inplace=True)

In [ ]:
# Drop columns with missing values
cols_with_missing = [col for col in X_num_baseline.columns if X_num_baseline[col].isnull().any()] 
X_num_baseline.drop(cols_with_missing, axis=1, inplace=True)
X_num_baseline.shape

(1460, 30)

In [ ]:
X_num_baseline.head()

    LotArea  OverallQual  OverallCond  ...  ScreenPorch  PoolArea  MiscVal
Id                                     ...
1      8450            7            5  ...            0         0        0
2      9600            6            8  ...            0         0        0
3     11250            7            5  ...            0         0        0
4      9550            7            5  ...            0         0        0
5     14260            8            5  ...            0         0        0

[5 rows x 30 columns]

In [ ]:
# Check if missing values
X_num_baseline.isnull().sum().sort_values(ascending = False).head()

LotArea        0
OverallQual    0
PoolArea       0
ScreenPorch    0
3SsnPorch      0
dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Function for comparing different approaches
def score_dataset(X, y, n_estimators):
  
    train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

    model = RandomForestRegressor(n_estimators=n_estimators, random_state=0)
    model.fit(train_X, train_y)
    preds = model.predict(val_X)
    rmse = mean_squared_error(val_y, preds, squared=False)
    return rmse

In [ ]:
score_dataset(X_num_baseline, y_baseline, 10)

34095.20758176939

## One Hot Encoding Categorical Variables

In [ ]:
# check cardinality of categorical variables
X[object_cols].nunique().sort_values(ascending = False).head(30)

Neighborhood     25
Exterior2nd      16
MSSubClass       15
Exterior1st      15
MoSold           12
SaleType          9
Condition1        9
Condition2        8
HouseStyle        8
RoofMatl          8
Functional        7
GarageType        6
Heating           6
BsmtFinType2      6
BsmtFinType1      6
Foundation        6
RoofStyle         6
SaleCondition     6
Electrical        5
MSZoning          5
YrSold            5
GarageCond        5
BldgType          5
GarageQual        5
LotConfig         5
HeatingQC         5
ExterCond         5
KitchenQual       4
LotShape          4
LandContour       4
dtype: int64

In [ ]:
# Check unique value distributions where categorical cardinality > 10
X.Neighborhood.value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

In [ ]:
X.Exterior2nd.value_counts()

VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
Other        1
CBlock       1
Name: Exterior2nd, dtype: int64

In [ ]:
X.Exterior1st.value_counts()

VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
AsphShn      1
ImStucc      1
CBlock       1
Name: Exterior1st, dtype: int64

In [ ]:
X.MSSubClass.value_counts()

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64

In [ ]:
# Shrink cardinality of variables Neighborhood, Exterior2nd, MSSubClass, Exterior1st

#Neighborhood, for frequency < 50
other_nabes = ['ClearCr',
               'StoneBr',
               'SWISU',
               'MeadowV',
               'Blmngtn',
               'BrDale',
               'Veenker',
               'NPkVill',
               'Blueste']

X.loc[X['Neighborhood'].isin(other_nabes), 'Neighborhood'] = "Other"
X['Neighborhood'].value_counts()

NAmes      225
CollgCr    150
Other      150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
Name: Neighborhood, dtype: int64

In [ ]:
#Exterior2nd, for frequency < 25
other_ext2 = ['AsbShng',
               'ImStucc',
               'Brk Cmn',
               'Stone',
               'AsphShn',
               'CBlock']

X.loc[X['Exterior2nd'].isin(other_ext2), 'Exterior2nd'] = "Other"
X['Exterior2nd'].value_counts()

VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Other       47
Wd Shng     38
Stucco      26
BrkFace     25
Name: Exterior2nd, dtype: int64

In [ ]:
#Exterior1st, for frequency < 25
other_ext1 = ['AsbShng',
               'BrkComm',
               'Stone',
               'AsphShn',
               'ImStucc',
               'CBlock']

X.loc[X['Exterior1st'].isin(other_ext1), 'Exterior1st'] = "Other"
X['Exterior1st'].value_counts()

VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
Other       27
WdShing     26
Stucco      25
Name: Exterior1st, dtype: int64

In [ ]:
#MSSubClass, for frequency < 20
other_MSSubClass = [75,45,180,40]

X.loc[X['MSSubClass'].isin(other_MSSubClass), 'MSSubClass'] = 300
X['MSSubClass'].value_counts()

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
300     42
190     30
85      20
Name: MSSubClass, dtype: int64

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(X[object_cols]))

# One-hot encoding removed index; put it back
OH_cols.index = X.index

# Remove categorical columns (will replace with one-hot encoding)
num_X = X.drop(object_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_X = pd.concat([num_X, OH_cols], axis=1)

In [ ]:
OH_X.head()

   LotFrontage  LotArea  OverallQual  OverallCond  ...  281  282  283  284
0         65.0     8450            7            5  ...  0.0  0.0  1.0  0.0
1         80.0     9600            6            8  ...  0.0  0.0  1.0  0.0
2         68.0    11250            7            5  ...  0.0  0.0  1.0  0.0
3         60.0     9550            7            5  ...  0.0  0.0  0.0  0.0
4         84.0    14260            8            5  ...  0.0  0.0  1.0  0.0

[5 rows x 318 columns]

##Adjust year built cols to number of years before present

In [ ]:

# importing date class from datetime module
from datetime import date
  
# creating the date object of today's date
todays_date = date.today()

current_year = todays_date.year
current_year

2022

In [ ]:
#YearBuilt: Original construction date
#YearRemodAdd: Remodel date (same as construction date if no remodeling or additions)
#GarageYrBlt: Year garage was built

OH_X.YearBuilt.head()

Id
1    2003
2    1976
3    2001
4    1915
5    2000
Name: YearBuilt, dtype: int64

In [ ]:
OH_X['YearBuilt'] = OH_X['YearBuilt'].transform(lambda x: current_year - x)
OH_X['YearRemodAdd'] = OH_X['YearRemodAdd'].transform(lambda x: current_year - x)
OH_X['GarageYrBlt'] = OH_X['GarageYrBlt'].transform(lambda x: current_year - x)

In [ ]:
OH_X.rename(columns={'YearBuilt': 'YrsSince_YearBuilt', 'YearRemodAdd': 'YrsSince_YearRemodAdd', 'GarageYrBlt': 'YrsSince_GarageYrBlt'}, inplace=True)

In [ ]:
OH_X['YrsSince_YearBuilt'].head()

Id
1     19
2     46
3     21
4    107
5     22
Name: YrsSince_YearBuilt, dtype: int64

In [ ]:
# Create temp X, y check model again
X_y_temp = pd.concat([OH_X, y], axis=1)

In [ ]:
X_y_temp.dropna(inplace=True)
y_temp = X_y_temp['SalePrice']
X_temp = X_y_temp.drop('SalePrice', axis=1)

In [ ]:
X_temp.shape

(1121, 288)

In [ ]:
score_dataset(X_temp, y_temp, 10)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

33353.992907759246

## Self-imputation w/extension (TF column)

In [ ]:
# Check no. of missing values
OH_X.isnull().sum().sort_values(ascending = False).head(30)

LotFrontage             259
YrsSince_GarageYrBlt     81
MasVnrArea                8
157                       0
163                       0
162                       0
161                       0
160                       0
159                       0
158                       0
156                       0
165                       0
155                       0
154                       0
153                       0
152                       0
151                       0
150                       0
164                       0
166                       0
148                       0
175                       0
181                       0
180                       0
179                       0
178                       0
177                       0
176                       0
174                       0
167                       0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

# Get names of columns with missing values
cols_with_missing = [col for col in OH_X.columns
                     if OH_X[col].isnull().any()]

# Make copy to avoid changing original data (when imputing)
OH_X_plus = OH_X.copy()

# Make new columns indicating what will be imputed
for col in cols_with_missing:
    OH_X_plus[col + '_was_missing'] = OH_X[col].isnull()

# Imputation
my_imputer = SimpleImputer()
imputed_OHX_plus = pd.DataFrame(my_imputer.fit_transform(OH_X_plus))

# Imputation removed column names; put them back
imputed_OHX_plus.columns = OH_X_plus.columns

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
# Check no. of missing values
imputed_OHX_plus.isnull().sum().sort_values(ascending = False).head(30)

LotFrontage    0
185            0
165            0
164            0
163            0
162            0
161            0
160            0
159            0
158            0
157            0
156            0
155            0
154            0
153            0
152            0
151            0
166            0
167            0
168            0
177            0
183            0
182            0
181            0
180            0
179            0
178            0
176            0
169            0
175            0
dtype: int64

##Check model accuracy

In [ ]:
print("RMSE from OH encoding + simple mean imputation:")
print(score_dataset(imputed_OHX_plus, y, 10))

RMSE from OH encoding + simple mean imputation:

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

33793.415050157215

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

# Tuning Random forest hyperparameters

In [ ]:
def get_mse(n_estimators, max_leaf_nodes, X, y):

    train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

    model = RandomForestRegressor(n_estimators=n_estimators, max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)

    mse = mean_squared_error(val_y, preds_val, squared=False)

    return mse

In [ ]:
# define function to compare and return optimal n_estimators and max_leaf_nodes using MAE
def optimize_parameters_rf(n_estimators_ls, max_leaf_nodes_ls, X, y):

  # initialize variables
  best_n_estimators = 0
  best_max_leaf_nodes = 0
  lowest_rmse = 1000000

  for n_estimators in n_estimators_ls:
      for max_leaf_nodes in max_leaf_nodes_ls:
        my_rmse= get_mse(n_estimators, max_leaf_nodes, X, y)

        if my_rmse < lowest_rmse:
          lowest_rmse = my_rmse
          best_n_estimators = n_estimators
          best_max_leaf_nodes = max_leaf_nodes
  
  print("OPTIMAL PARAMETERS | n estimators: %d  \t\t max_leaf_nodes: %d  \t\t RMSE:  %d" %(best_n_estimators, best_max_leaf_nodes, lowest_rmse))

In [ ]:
# compare MAE with differing values of n_estimators and max_leaf_nodes
n_estimators_ls = [1,10,100,500,1000]
max_leaf_nodes_ls = [5,50,500,1000]

optimize_parameters_rf(n_estimators_ls, max_leaf_nodes_ls, imputed_OHX_plus, y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

OPTIMAL PARAMETERS | n estimators: 1000  		 max_leaf_nodes: 1000  		 RMSE:  30853

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,